bin/

data/anim/
data/bigportraits/
data/fonts/
data/fx/
data/images/
data/levels/
data/minimap/
data/models/
#data/scriptlibs/
#data/scripts/
data/shaders/
data/sound/

data/DLC0001/anim/
data/DLC0001/bigportraits/
data/DLC0001/images/
data/DLC0001/levels/
data/DLC0001/minimap/
#data/DLC0001/scripts/
data/DLC0001/shaders/
data/DLC0001/sound/